body {
    background-color: #ffe6eb;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    
}

h1 {
    color: #ff4d6d;
}

p {
    color: #444;
    font-size: 16px;
    margin: 15px 0;
}

button {
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e63950;
}

#hiddenMessage {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    color: #ff4d6d;
}
